In [1]:
import pandas as pd
from sklearn import decomposition
from sklearn.decomposition import PCA

cps = pd.read_csv('cps.csv', header=None)
cps.columns = ['FI','MU','EN', 'EV', 'S']
X = cps.iloc[:,:].values

pca = decomposition.PCA()
pca.fit_transform(X)

print(pca.explained_variance_ratio_)
display(pd.DataFrame(pca.components_, columns=cps.columns))

[0.91355698 0.05692013 0.01805982 0.00931031 0.00215277]

         FI        MU        EN        EV         S
0  0.602496  0.325988  0.723320  0.047994  0.072356
1  0.784025 -0.391908 -0.478342 -0.034100  0.041694
2  0.110188  0.838756 -0.492802  0.048459  0.197850
3 -0.098870 -0.190382  0.056623  0.267136  0.937770
4 -0.019666  0.019567  0.044004 -0.960637  0.272892